/* FIXME: could get these from Google CDN */
@import url("reset-fonts-grids.css");
@import url("base-min.css");

x.cake-sql-log { display:none;}

/* Colors:
light_blue 195 215 255 #C3D7FF
blue- 5 90 255 #055AFF
blue 5 50 140 #05328C
dark_blue 0 25 55 #001937
light_yellow 240 245 195 #F0F5C3
yellow 250 230 90 #F0E65A
*/

html { background-color: #C3D7FF; }

div#bd { background-color: #FEFEFE; padding: 0px 2px; margin-top: 5px; border: 1px solid #001937;}

div#hd { margin-top: 10px;}

div#hd ul.nav li { display: inline; margin: 0; padding: 0; font-size: 123.1%; color: #C3D7FF; margin-right: 0.5em;margin-left:0.5em;}
div#hd ul.nav li a:visited { color: #C3D7FF;}
div#hd ul.nav li a { color: #C3D7FF; text-decoration: none;}
div#hd ul.nav li a:hover { color:#FEFEFE;}
div#hd ul.nav { margin-left: 0px; background-color: #05328C;}

div#bd h1 { background-color: #05328C; color: #C3D7FF;
	padding-top: 2px; padding-bottom: 2px; padding-left: 5px;}
	
div#hd div#loginbox { width: 200px; x-float: right;}
	
ul#screenshots, ul#screenshots li { display: inline; margin: 0; padding: 0;}

/* div#sidebar { background-color: #EAEAEA; } */

ul#screenshots li {
	margin-left: 5px;
	margin-right: 5px;
	list-style-type: none;
}

ul.downloads li {list-style: none outside url("/~zyx/cwf-ng/img/icons/disk.png");}

ul.news li {list-style: none outside url("/~zyx/cwf-ng/img/icons/newspaper.png");}

ul.games li {list-style: none outside url("/~zyx/cwf-ng/img/icons/joystick.png");}

ul.blogs li {list-style: none outside url("/~zyx/cwf-ng/img/icons/book.png");}

ul.reviews li {list-style: none outside url("/~zyx/cwf-ng/img/icons/user_comment.png");}

ul.tools li {list-style: none outside url("/~zyx/cwf-ng/img/icons/cog.png");}

div#loginbox {background-color: #FEFEFE; border: 1px solid #001937; padding: 5px;}

h1 a:visited { color: inherit;}
h1 a { color: inherit;}

fieldset {border-top: 1px solid #999;}
fieldset legend {font-size:123.1%;margin:1em 0;padding-right:0.5em;font-weight:bold}
div.input.text > label, div.input.select > label, div.input.datetime > label, div.input.password > label  {margin-right:0.5em;min-width: 8em;display:inline-block;text-align:left;x-background-color:#EAEAEA}
input[type=checkbox] {margin-right: 0.5em;}
div.input > textarea {width:80%;min-width:150px;max-width:500px;}
fieldset span.pull {margin-left:8.5em;}
fieldset input[type=text] {width:20em;}
fieldset table td {border:none;width:33%;vertical-align:top;}
/* div.input.required > label {color:red;} */
/* div.input:hover {background-color:#CCCCCC;} */
/* fieldset {border: 1px solid #999;} */

/* label {padding-right: 1em;} */

table.clean td, table.clean th { border: 0px none #999;}