a:link {color: #fff; text-decoration: none;}
a:visited {color: #fff; text-decoration: none;}
a:hover {color: #fff; text-decoration: underline;}
a:active {color: #fff; text-decoration: none;}

body {
background-color: #101821;
color: #fff;
/* font-size: 11px;
font-family: arial; */
background: url('../img/background.png');
}

#header {
width: 100%;
height: 120px;
background-color: #4d4d4d;
background: url('../img/bg.jpg') repeat-x;
}

#header_inner {
position: relative;
width: 286px;
height:	89px;
margin: 0px auto;
top: 15px;
text-align: center;
font-weight: bold;
font-size: 10px;
color: #7c8891;
}

#header_inner a {
color: #7c8891;
}

#header_inner a:hover {
color: #d3d7da;
text-decoration: none;
}

/* p {
margin: 10px;
} */ 

/* #main {
position: relative;
padding-bottom: 6px;
margin: 6px auto;
} */

#menu {
text-align: right;
font-size: 9px;
}

#menu h3 {
font-size: 10px;
font-weight: bold;
padding-top: 9px;
padding-right: 3px;

}

#menu p {
margin: 0px 3px;
} 

#menu h3 {
font-size:10px;
font-weight: bold;
margin: 4px 0;
}

.content {
/* width: 600px; */
background: #335066;
text-align: justify; 
/* margin-bottom: 6px;
margin-top: -6px; */
}

.contentheader {
/* padding: 10px; */
/* width: 580px; */
background: #335066;
/* position: relative; */
/* margin: auto;
float: right;
margin-bottom: 0px;
padding-bottom: 0px; */
/* height: 80px; */
background-color: #16212c;
/* margin-bottom: 6px; */
margin-top: 6px;
cursor: pointer;
x-position: relative;
}

.contentheader:hover {
background-color: #1b2936;
text-decoration: none;
}

.score {
color: #767f86;
font-size: 60px;
text-align: right;
padding: 0px;
margin: 0px;
line-height: 60px;
}

.editor {
text-align: right;
color: #606a73;
font-size: 9px;
padding: 0px;
margin: 0px;
}

.genre {
text-align: center;
color: #3d4954;
font-size: 30px;
position: relative;
top: 10px;
z-index: 1;
float: right;
/* vertical-align: middle; */
/* left: 40px; */

font-weight: bold;
}

.title {
font-size: 24px;
/* position:absolute; */
margin-top: 20px;
z-index: 3;
/* width: 500px;
height: 50px;
overflow: hidden; */
}

.dev {
font-size: 10px;
color: #d1d4d7;
/* position: absolute; */
margin-top: 47px;
}

.date {
font-size: 10px;
color: #767f86;
margin-top: 0px;
/* position: absolute; */
}

.year {
color: #c9ced3;
}

.screenshot {
padding-left: 47px;
}

.screenshot img {
margin-right: 6px;
border: 1px solid #92a2ae;
margin-bottom: 1px;
}

.screenshot img:hover {
border: 1px solid #fff;
}

.contentheader p {
/* margin: -5px; */
}

.line {
/* width: 570px; */
/* position: relative; */
background-color: #6f8292;
height: 1px;
margin-left: 15px;
margin-bottom: 1px;
}

.download {
color: #d6dce0;
font-size: 10px;
/* float: left; */
margin-left: 20px;
padding-bottom: 1px;
}

.download p {
margin: 0px;
}

.author {
text-align: right;
color: #d6dce0;
/* position: relative;
float: right; */
font-size: 10px;
padding-right: 20px;
font-style: italic;
padding-bottom: 14px;
}